<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
            <!-- CUSTOM BLOCKQUOTE -->
            <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                <img src="assets/com.jpg" class="card-img-top" alt="...">
                <p class="mb-0 mt-2 font-italic">Is a User?</p>
                <p> Login here.</p> 
                   
                <button class="btn btn-primary" routerLink="/userlogin">Login</button>
                
        </blockquote>
        </div>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
            <!-- CUSTOM BLOCKQUOTE -->
            <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                <img src="assets/com.jpg" class="card-img-top" alt="...">
                <p class="mb-0 mt-2 font-italic"> Is a Manager?</p>
                <p>Login here.</p>
                <button class="btn btn-primary" routerLink="/managerlogin">Login</button>
               
        </blockquote>
        </div>
        </div>
        </div>
        